main {
    display: flex;
    position: relative;

    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
    min-height: 200px;

    justify-content: center;
}

#meme-image {
    display: block;
    position: relative;

    width: 600px;

    margin: 50px auto 50px auto;
}

#meme-image > img {
    display: block;
    position: relative;

    width: 100%;
}

#meme-top-text {
    left: 50%;
    top: 10px;

    transform: translateX(-50%);
}

#meme-bottom-text {
    left: 50%;
    bottom: 10px;

    transform: translateX(-50%);
}

.meme-text {
    display: block;
    position: absolute;

    width: 90%;

    text-align: center;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;

    color: white;
    text-shadow: 0 0 5px black;
}